.paket/
paket-files/
.vs/

/packages/
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
src/*/[Bb]in/
src/*/[Oo]bj/
src/*/Scratch/
/fql.sln.DotSettings.user

.fake
.ionide

*.user
*.xlsx

.idea
launchSettings.json
