trigger:
- '*'

pool:
  name: Azure Pipelines
  vmImage: 'ubuntu-latest'

variables:
  major: 0
  minor: 1
  revision: 0
  patch: $[counter(format('{0}.{1}.{2}', variables['Major'], variables['Minor'], variables['Revision']), 0)]
  packageVersion: $(major).$(minor).$(revision).$(patch)-preview
  NUGET_PACKAGES: $(Pipeline.Workspace)/.nuget/packages
  nugetApiKey: $(NUGET_API_KEY)
  isNotaPR: $[ne(variables['Build.Reason'], 'PullRequest')]
  buildName: 'Not master: $(major).$(minor).$(revision).$(patch)-preview'
  ${{ eq(variables['Build.SourceBranchName'], 'master') }}:
    buildName: $(major).$(minor).$(revision).$(patch)-preview
  ${{ $[eq(variables['Build.Reason'], 'PullRequest')] }}:
    buildName: 'PR on $(major).$(minor)'

name: $(major).$(minor).$(revision).$(patch)-preview

steps:
- task: DotNetCoreCLI@2
  displayName: 'dotnet tool restore'
  inputs:
    command: custom
    custom: tool
    arguments: restore

- task: DotNetCoreCLI@2
  displayName: 'dotnet paket restore'
  inputs:
    command: custom
    custom: paket
    arguments: 'restore'

- task: DotNetCoreCLI@2
  displayName: 'dotnet restore'
  inputs:
    command: 'restore'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  inputs:
    command: 'pack'
    packagesToPack: '**/*.fsproj'
    versioningScheme: 'byEnvVar'
    versionEnvVar: 'packageVersion'
    configuration: Release
    arguments: '/p:Version=$(packageVersion) /p:InformationalVersion=$(packageVersion)-$(Build.SourceVersion)'

- publish: $(Build.ArtifactStagingDirectory)
  artifact: nupkgs

- task: GithubRelease@0 
  displayName: Create GitHub Release
  condition: and(succeeded(), eq(variables.pushToGitHubReleases, true))
  inputs:
    gitHubConnection: github.com_PierreYvesR
    repositoryName: WieldMore-io/WldMr.Excel
    tagSource: manual
    addChangeLog: false
    isPreRelease: true
    tag: $(packageVersion)
    assets: |
      $(Build.ArtifactStagingDirectory)/*.nupkg


- task: DotNetCoreCLI@2
  displayName: Push to nuget.org
  condition: and(succeeded(), eq(variables.pushToNugetOrg, true), eq(variables.isNotaPR, true))
  inputs:
    command: custom
    custom: nuget
    arguments: >
      push $(Build.ArtifactStagingDirectory)/*.nupkg
      -s https://api.nuget.org/v3/index.json
      -k $(nugetApiKey)
