trigger:
- '*'

pool:
  name: Azure Pipelines
  vmImage: 'windows-latest'

variables:
  major: 0
  minor: 3
  revision: 0
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  patch: $[counter(format('{0}.{1}.{2}', variables['Major'], variables['Minor'], variables['Revision']), 0)]
  packageVersion: $(major).$(minor).$(revision).$(patch)-preview
  NUGET_PACKAGES: $(Pipeline.Workspace)/.nuget/packages
  nugetApiKey: $(NUGET_API_KEY)
  isNotaPR: $[ne(variables['Build.Reason'], 'PullRequest')]
  ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    buildPrefix: 'PR - '
  ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
    ${{ if eq(variables['Build.SourceBranchName'], 'master') }}:
      buildPrefix: 'master - '
    ${{ if ne(variables['Build.SourceBranchName'], 'master') }}:
      buildPrefix: $[ variables['Build.SourceBranchName'] ]


name: '$(buildPrefix)$(major).$(minor).$(revision).$(patch) - '

steps:
- task: DotNetCoreCLI@2
  displayName: 'dotnet --info'
  inputs:
    command: custom
    custom: '--info'

- task: UseDotNet@2
  displayName: 'Install .NET Core 6 sdk'
  inputs:
    packageType: sdk
    version: 6.0.x
    installationPath: $(Agent.ToolsDirectory)/dotnet

- task: DotNetCoreCLI@2
  displayName: 'dotnet --info'
  inputs:
    command: custom
    custom: '--info'

- task: DotNetCoreCLI@2
  displayName: 'dotnet --info'
  inputs:
    command: custom
    custom: '--info'

- task: DotNetCoreCLI@2
  displayName: 'dotnet tool restore'
  inputs:
    command: custom
    custom: tool
    arguments: restore

- task: DotNetCoreCLI@2
  displayName: 'dotnet paket restore'
  inputs:
    command: custom
    custom: paket
    arguments: 'restore'

- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    command: 'build'
    arguments: >-
        -p:Version=$(packageVersion) -p:InformationalVersion=$(packageVersion)-$(Build.SourceVersion) 
        --configuration $(buildConfiguration)

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'
    projects: tests/**/*.fsproj
    arguments: >-
        --configuration $(buildConfiguration)

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  inputs:
    command: 'custom'
    custom: pack
    arguments: >-
        -p:Version=$(packageVersion) -p:InformationalVersion=$(packageVersion)-$(Build.SourceVersion) 
        --configuration $(buildConfiguration)
        -o $(Build.ArtifactStagingDirectory)

- script: ls '$(Build.ArtifactStagingDirectory)'
      
- publish: $(Build.ArtifactStagingDirectory)
  artifact: nupkgs

- script: ls '$(Build.ArtifactStagingDirectory)'

- task: GithubRelease@0 
  displayName: Create GitHub Release
  condition: and(succeeded(), eq(variables.isNotaPR, true), eq(variables['Build.Repository.Uri'], 'https://github.com/WieldMore-io/WldMr.Excel'))
  inputs:
    gitHubConnection: github.com_PierreYvesR
    repositoryName: WieldMore-io/WldMr.Excel
    tagSource: manual
    addChangeLog: false
    isPreRelease: true
    tag: $(packageVersion)
    assets: $(Build.ArtifactStagingDirectory)

- script: ls '$(Build.ArtifactStagingDirectory)'

- task: DotNetCoreCLI@2
  displayName: Push to nuget.org
  condition: and(succeeded(), eq(variables.isNotaPR, true), eq(variables['Build.Repository.Uri'], 'https://github.com/WieldMore-io/WldMr.Excel'))
  inputs:
    command: custom
    custom: nuget
    arguments: >
      push $(Build.ArtifactStagingDirectory)/*.nupkg
      -s https://api.nuget.org/v3/index.json
      -k $(nugetApiKey)
