source https://api.nuget.org/v3/index.json
storage: none
framework: net48, net6.0-windows

nuget FSharp.Core
nuget ExcelDna.Integration
nuget ExcelDna.Addin
nuget ExcelDna.IntelliSense
nuget FsToolkit.ErrorHandling >= 4
nuget FsUnit
nuget TypeShape


nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter
