source https://api.nuget.org/v3/index.json

storage: none
framework: net461

nuget FSharp.Core
nuget ExcelDna.Integration ~> 1.5.0-rc1
nuget ExcelDna.Addin ~> 1.5.0-rc1
nuget ExcelDna.IntelliSense
nuget FsToolkit.ErrorHandling
nuget FsUnit
nuget TypeShape


nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter
