source https://api.nuget.org/v3/index.json

storage: none
framework: net461

nuget FSharp.Core
nuget ExcelDna.Integration
nuget ExcelDna.Registration.FSharp
nuget FSharpPlus
nuget FsToolkit.ErrorHandling
nuget TypeShape
